#root {
    -fx-background-color: white;
}

.text-field {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 12;
    -fx-border-color: #25A4F4;
    -fx-border-radius: 12;
    -fx-padding: 5;
}

.label {
    -fx-text-fill: #25A4F4;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-border-color: #25A4F4;
}

.combo-box .arrow {
    -fx-background-color: #25A4F4;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #25A4F4;
    -fx-text-fill: white;
    -fx-padding: 5 15;
    -fx-background-radius: 6;
}