@font-face {
    font-family: "poppins";
    src: url("../fonts/poppins.ttf");
}

* {
    -fx-font-family: "poppins";
}

#hbox-background {
    -fx-background-image: url("../assets/sandwichbackground.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}