@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins.ttf");
}

* {
    -fx-font-family: "Poppins";
}

#hbox-background {
    -fx-background-image: url("/assets/sandwichbackground.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}